<form action="/result" method="post">
  <label>Your Word: </label>
  <input type="text" name="user-word" value="">
  <label>Possible Anagrams (separated by a space): </label>
  <input type="text" name="user-string" value="">
  <button type="submit" name="button">Check for Anagrams!</button>
</form>
